.masonry-container {
	position: relative;
	width: 100%;
}

.masonry-container > * {
	position: absolute;
	opacity: 0;
}

.masonry-container > .visible {
	opacity: 1;
}

.nr-dashboard-cardpanel {
    box-sizing: border-box;
    margin-top: 4.5em;
}

.nr-dashboard-cardpanel > p {
    max-height: 31px;
    min-height: 31px;
    margin-left: 12px;
	margin-top: 10px;
	margin-bottom: 8px;
    font-size: 1.2em;
    font-weight: 500;
}

.nr-dashboard-cardcontainer {
	position: relative;
	margin-left: 2em;
	margin-right: 2em;
}

.nr-dashboard-cardcontainer > * {
	margin: 0 !important;
	position: absolute;
	opacity: 0;
}

.nr-dashboard-cardcontainer > .visible {
	opacity: 1;
}

.nr-dashboard-cardpanel::before {
	content: "";
	position: absolute;
	background-image: url("/ui/iPhone X Mockup.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 900px;
	margin-top: -4.5em;
}
